/*基本图文组件通用样式*/
.h5_component{
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

/*.h5_component_base{transition:all 1s;}
.h5_component_base_load{opacity:1;}
.h5_component_base_leave{opacity:0;}*/